<h1>Create a New Idea!</h1>
<%= form_for(@idea) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %><br>
<%= f.label :description %>
<%= f.text_field :description %><br>
<%= f.submit "Create Idea" %>
<% end %>
